{
    "openapi": "3.0.3",
    "info": {
        "title": "SwiftFin",
        "description": "Swagger/OpenAPI spec for Swiftfin (generated by Scribe)",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://demoapi.saasphereltd.com",
            "description": "Sandbox"
        }
    ],
    "tags": [
        {
            "name": "Endpoints",
            "description": ""
        }
    ],
    "components": {
        "securitySchemes": {
            "default": {
                "type": "http",
                "scheme": "bearer",
                "description": "You can retrieve a sandbox token from the developer dashboard. For production keys, use the OAuth or server-side flow."
            },
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "Paste only the token (no \"Bearer \" prefix)."
            }
        }
    },
    "security": [
        {
            "default": [],
            "bearerAuth": []
        }
    ],
    "paths": {
        "/api/v1/utils/sectors": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsSectors",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/bank-lists": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsBankLists",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/nok-relationship": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsNokRelationship",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/marital-status": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsMaritalStatus",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/educational-level": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsEducationalLevel",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/id-card-type": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsIdCardType",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/states": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsStates",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/state/{state_id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsStateState_id",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "state_id",
                    "description": "The ID of the state.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/utils/lgas/{state_id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsLgasState_id",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "state_id",
                    "description": "The ID of the state.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/utils/company-listing": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsCompanyListing",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/company-listing/search": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsCompanyListingSearch",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/company-listing/search-by-id/{id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsCompanyListingSearchByIdId",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "id",
                    "description": "The ID of the search by id.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/utils/countries": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsCountries",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/loan-products": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsLoanProducts",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/loan-product/{id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsLoanProductId",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "id",
                    "description": "The ID of the loan product.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/utils/get-loan-products/{type}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsGetLoanProductsType",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "type",
                    "description": "Optional parameter.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "omitted": {
                            "summary": "When the value is omitted",
                            "value": ""
                        },
                        "present": {
                            "summary": "When the value is present",
                            "value": "architecto"
                        }
                    }
                }
            ]
        },
        "/api/v1/utils/bvn-verification/{bvn}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsBvnVerificationBvn",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "bvn",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/utils/bank-service-provider": {
            "get": {
                "summary": "",
                "operationId": "getApiV1UtilsBankServiceProvider",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/utils/upload-document": {
            "post": {
                "summary": "",
                "operationId": "postApiV1UtilsUploadDocument",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/operations/intra-transfer": {
            "post": {
                "summary": "",
                "operationId": "postApiV1OperationsIntraTransfer",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/operations/intra-transfer/single": {
            "post": {
                "summary": "",
                "operationId": "postApiV1OperationsIntraTransferSingle",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/operations/fetch/nip-bank-charge/{amount}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1OperationsFetchNipBankChargeAmount",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "amount",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/operations/inter-transfer": {
            "post": {
                "summary": "",
                "operationId": "postApiV1OperationsInterTransfer",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/operations/transfer/status/{reference}/{channel}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1OperationsTransferStatusReferenceChannel",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "reference",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "path",
                    "name": "channel",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/loans/book-loan": {
            "post": {
                "summary": "",
                "operationId": "postApiV1LoansBookLoan",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/loans/details/{id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1LoansDetailsId",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "id",
                    "description": "The ID of the detail.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/loans/pending-loans/{customer_id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1LoansPendingLoansCustomer_id",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "customer_id",
                    "description": "The ID of the customer.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/loans/upload-documents": {
            "post": {
                "summary": "",
                "operationId": "postApiV1LoansUploadDocuments",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/loans/fetch-loan-by-rrr/{rrr}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1LoansFetchLoanByRrrRrr",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "rrr",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/loans/account-officer-report": {
            "post": {
                "summary": "",
                "operationId": "postApiV1LoansAccountOfficerReport",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/loans/list": {
            "post": {
                "summary": "",
                "operationId": "postApiV1LoansList",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/loans/settle": {
            "post": {
                "summary": "",
                "operationId": "postApiV1LoansSettle",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/loans/liquidate": {
            "post": {
                "summary": "",
                "operationId": "postApiV1LoansLiquidate",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/loans/fetch-loan-rate": {
            "get": {
                "summary": "",
                "operationId": "getApiV1LoansFetchLoanRate",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/loans/repayment-schedule": {
            "post": {
                "summary": "",
                "operationId": "postApiV1LoansRepaymentSchedule",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/customers/validate-customer/{customerId}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1CustomersValidateCustomerCustomerId",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "customerId",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/customers/individual-customers/create": {
            "post": {
                "summary": "",
                "operationId": "postApiV1CustomersIndividualCustomersCreate",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/customers/individual-customers/tier1/create": {
            "post": {
                "summary": "",
                "operationId": "postApiV1CustomersIndividualCustomersTier1Create",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/customers/individual-customers/update/{customer_id}": {
            "post": {
                "summary": "",
                "operationId": "postApiV1CustomersIndividualCustomersUpdateCustomer_id",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "customer_id",
                    "description": "The ID of the customer.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/customers/individual/fetch-by-customerid/{customer_id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1CustomersIndividualFetchByCustomeridCustomer_id",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "customer_id",
                    "description": "The ID of the customer.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/customers/individual/fetch-by-email/{email}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1CustomersIndividualFetchByEmailEmail",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "email",
                    "description": "",
                    "example": "gbailey@example.net",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/customers/individual/fetch-by-phone/{phone}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1CustomersIndividualFetchByPhonePhone",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "phone",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/customers/verify-bvn/{bvn}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1CustomersVerifyBvnBvn",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "bvn",
                    "description": "Optional parameter.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "omitted": {
                            "summary": "When the value is omitted",
                            "value": ""
                        },
                        "present": {
                            "summary": "When the value is present",
                            "value": "architecto"
                        }
                    }
                }
            ]
        },
        "/api/v1/customers/individual-customers/update/personal-details": {
            "post": {
                "summary": "",
                "operationId": "postApiV1CustomersIndividualCustomersUpdatePersonalDetails",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/verify-bvn": {
            "post": {
                "summary": "",
                "operationId": "postApiV1AccountsVerifyBvn",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/profile": {
            "post": {
                "summary": "",
                "operationId": "postApiV1AccountsProfile",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/account-enquiry": {
            "post": {
                "summary": "",
                "operationId": "postApiV1AccountsAccountEnquiry",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/account-balance-enquiry/{account_no}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1AccountsAccountBalanceEnquiryAccount_no",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "account_no",
                    "description": "Optional parameter.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "omitted": {
                            "summary": "When the value is omitted",
                            "value": ""
                        },
                        "present": {
                            "summary": "When the value is present",
                            "value": "architecto"
                        }
                    }
                }
            ]
        },
        "/api/v1/accounts/validate-intra-account": {
            "post": {
                "summary": "",
                "operationId": "postApiV1AccountsValidateIntraAccount",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/validate-inter-account": {
            "post": {
                "summary": "",
                "operationId": "postApiV1AccountsValidateInterAccount",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/gl-list": {
            "get": {
                "summary": "",
                "operationId": "getApiV1AccountsGlList",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/recent-transactions/{account_no}/{limit}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1AccountsRecentTransactionsAccount_noLimit",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "account_no",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "path",
                    "name": "limit",
                    "description": "Optional parameter.",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "examples": {
                        "omitted": {
                            "summary": "When the value is omitted",
                            "value": ""
                        },
                        "present": {
                            "summary": "When the value is present",
                            "value": "architecto"
                        }
                    }
                }
            ]
        },
        "/api/v1/accounts/transaction-history": {
            "get": {
                "summary": "",
                "operationId": "getApiV1AccountsTransactionHistory",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/send-account-statement-to-email": {
            "post": {
                "summary": "",
                "operationId": "postApiV1AccountsSendAccountStatementToEmail",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/accounts/fetch-lien/{acct_no}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1AccountsFetchLienAcct_no",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "acct_no",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/accounts/add-lien/{acct_no}": {
            "post": {
                "summary": "",
                "operationId": "postApiV1AccountsAddLienAcct_no",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "acct_no",
                    "description": "",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/accounts/remove-lien/{lien_id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1AccountsRemoveLienLien_id",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "lien_id",
                    "description": "The ID of the lien.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/other-api-users/fetch-accounts": {
            "get": {
                "summary": "",
                "operationId": "getApiV1OtherApiUsersFetchAccounts",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/investments/list": {
            "get": {
                "summary": "",
                "operationId": "getApiV1InvestmentsList",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/investments/{id}": {
            "get": {
                "summary": "",
                "operationId": "getApiV1InvestmentsId",
                "description": "",
                "parameters": [],
                "responses": {
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "status": "04",
                                        "error": "Invalid token"
                                    },
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "04"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Invalid token"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Endpoints"
                ]
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "id",
                    "description": "The ID of the investment.",
                    "example": "architecto",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/api/v1/investments/create": {
            "post": {
                "summary": "",
                "operationId": "postApiV1InvestmentsCreate",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ]
            }
        },
        "/api/v1/virtual-payment/get-temporary-vaccount": {
            "post": {
                "summary": "",
                "operationId": "postApiV1VirtualPaymentGetTemporaryVaccount",
                "description": "",
                "parameters": [],
                "responses": [],
                "tags": [
                    "Endpoints"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "reference": {
                                        "type": "string",
                                        "description": "",
                                        "example": "architecto"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "description": "",
                                        "example": 4326.41688,
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "reference"
                                ]
                            }
                        }
                    }
                }
            }
        }
    }
}